#### 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [4]:
var1 = int(input('Enter value 1 :'))
var2 = int(input('Enter value 2 :'))

def add(var1,var2):
    return var1+var2

Enter value 1 :20
Enter value 2 :30

In [5]:
add(var1,var2)

50

#### 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [6]:
a=5
b='saravanesh'
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### 3.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [8]:
def first_last_list(inp_list):
    if inp_list[0]==inp_list[-1]:
        return True
    elif inp_list[0] != inp_list[-1]:
        return False

In [10]:
first_last_list([1,2,3,4,1])

True

In [11]:
first_last_list([1,2,3,4,5])

False

#### 4.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [12]:
l1=[10,20,33,46,55]

for i in l1:
    if i%5 == 0:
        print(i)

10
20
55

5.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
a.	Hint: Separate return values with a comma

In [14]:
def calculation(val1,val2):
    addition = val1 + val2
    subtraction = val1 - val2
    return addition, subtraction

In [17]:
add,sub = calculation(10,20)

In [19]:
print(add)
print(sub)

30
-10

#### 6.	Write a program to demonstrate the following Syntax error
#### a.	SyntaxError: non-default argument follows default argument

In [20]:
def test(val1='a',b):
    return val1,b

SyntaxError: non-default argument follows default argument (<ipython-input-20-afff8e742af3>, line 1)

#### 7.	Use filter and lambda function to calculate square for below numbers only if they are odd number
#### a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [24]:
my_ls =[12,11,53,22,21,77,87,88,98]

In [33]:
result = filter(lambda x : x%2 == 0 , my_ls)

In [34]:
for i in result:
    print(i)

12
22
88
98

In [36]:
map_res=map(lambda x : x**2,my_ls)

In [37]:
list(map_res)

[144, 121, 2809, 484, 441, 5929, 7569, 7744, 9604]

#### Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [38]:
def cube_of_number(x):
    return x**3

In [40]:
map_res1=map(cube_of_number,[1,2,3,45,56])

In [41]:
list(map_res1)

[1, 8, 27, 91125, 175616]

#### Create the string, int and float variable and delete them all in the next cell

In [47]:
a= 'JBS'
b= 10
c= 7.3

In [48]:
print(a, b, c)

JBS 10 7.3

In [49]:
del a
del b
del c

In [50]:
print(a,b,c)

NameError: name 'a' is not defined

#### 11.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [51]:
my_str = 'Data Science'

In [52]:
's' in my_str

False

In [53]:
'S' in my_str

True

#### 12.	What’s the result of assigning a value to a ‘keyword’?
#### a.	Please highlight the error

In [54]:
int = 101

In [55]:
and = 101

SyntaxError: invalid syntax (<ipython-input-55-05f952d7c98c>, line 1)

In [56]:
if = 198

SyntaxError: invalid syntax (<ipython-input-56-57f1c9fe4ad5>, line 1)

#### 13.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [58]:
multi_statement = """This is a multi line statement. Check it yourself.
                    This is the second line of the statement.
                    Python has been so kind with me so far. 
                    I will become a Datascientist sooner than I thought.
                  """

In [59]:
multi_statement

'This is a multi line statement. Check it yourself.\n                    This is the second line of the statement.\n                    Python has been so kind with me so far. \n                    I will become a Datascientist sooner than I thought.\n                  '

#### 14.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [61]:
print(list(range(100,999,8)))

[100, 108, 116, 124, 132, 140, 148, 156, 164, 172, 180, 188, 196, 204, 212, 220, 228, 236, 244, 252, 260, 268, 276, 284, 292, 300, 308, 316, 324, 332, 340, 348, 356, 364, 372, 380, 388, 396, 404, 412, 420, 428, 436, 444, 452, 460, 468, 476, 484, 492, 500, 508, 516, 524, 532, 540, 548, 556, 564, 572, 580, 588, 596, 604, 612, 620, 628, 636, 644, 652, 660, 668, 676, 684, 692, 700, 708, 716, 724, 732, 740, 748, 756, 764, 772, 780, 788, 796, 804, 812, 820, 828, 836, 844, 852, 860, 868, 876, 884, 892, 900, 908, 916, 924, 932, 940, 948, 956, 964, 972, 980, 988, 996]

#### 15.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

#### 16.	Write a simple function and call the docstring from outside the function

In [62]:
def simple_fun(var1,var2):
    """
    This is a simple function.
    var1: int, takes integer as input
    var2: int, takes integer as input
    return value is sume of var1,var2
    """
    return var1+var2

In [64]:
print(simple_fun.__doc__)

    This is a simple function.
    var1: int, takes integer as input
    var2: int, takes integer as input
    return value is sume of var1,var2

#### 17.	Write a list comprehension to print the odd numbers from 0 to 100

In [65]:
odd_numbers = [i for i in list(range(0,100+1)) if i%2 != 0]

In [67]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### 18.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran
Output = [‘m’, ‘r’, ‘n’]

In [75]:
my_name = 'saravanesh'
exclue_vowels = [i for i in my_name if i not in ['a','e','i','o','u']]

In [76]:
exclue_vowels

['s', 'r', 'v', 'n', 's', 'h']

#### 19.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

### Recursion is a process of calling the function internally again.

In [77]:
def rec_sum(num):
    if num <= 1:
        return num
    return num + rec_sum(num-1)

In [78]:
rec_sum(10)

55